
<div>
  <img src="<%= @cooler.avatar_url %>" alt="<%=@cooler.name%>" />
  <h2 style="color:red; font-weight:bold;"><%=@cooler.coolnes%></h2><strong><%= @cooler.name %></strong>
</div>
<div style="background-color: #EEE; width: 70%; margin: 0 auto;">
  <b>Bio:</b><br />
  <p>
    <%= @cooler.bio %>
  </p>
  <p>
    Learn more: <%= link_to 'GitHub Profile', @cooler.github_link %><br />
    <%= link_to 'Back to our Team Page!', coolers_path %>
  </p>
</div>
