<!DOCTYPE html>
<html>
<head>
  <title>TeamM</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="margin: 0 auto; align: center;">
  <header>
    <%= image_tag 'banner.png' %>
  </header>

<%= yield %>

</body>
</html>
